.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home_descrblock .home_title {
  max-width: 688px;
  max-height: 122px;
  font-weight: 700;
  font-size: 50px;
  color: #000000;
  line-height: 61px;
}
.home .home_descrblock .home_descr {
  max-width: 608px;
  max-height: 90px;
  font-weight: normal;
  font-size: 25px;
  color: #000000;
  margin-top: 13px;
  line-height: 30px;
}
.home .home_descrblock .home_btn_block .home_btn {
  margin-top: 19px;
  width: 400px;
  height: 70px;
  background: linear-gradient(93.52deg, #304885 16.25%, #2D745F 68.91%);
  box-shadow: 0 9px 35px rgba(47, 99, 110, 0.53);
  border-radius: 17px;
  font-size: 25px;
  color: #FFFFFF;
}
.home .home_img {
  width: 31%;
  margin-left: 50px;
}

@media (max-width: 1400px) {
  .home .home_descrblock .home_title {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 1200px) {
  .home .home_descrblock .home_title {
    font-size: 38px;
    line-height: 45px;
  }
  .home .home_descrblock .home_descr {
    font-size: 23px;
    line-height: 28px;
  }
  .home .home_descrblock .home_btn_block .home_btn {
    width: 370px;
    height: 60px;
    font-size: 22px;
  }
}
@media (max-width: 991.5px) {
  .home .home_descrblock .home_title {
    font-size: 28px;
    line-height: 36px;
  }
  .home .home_descrblock .home_descr {
    font-size: 20px;
    line-height: 25px;
  }
  .home .home_descrblock .home_btn_block .home_btn {
    width: 290px;
    height: 45px;
    font-size: 18px;
  }
  .home .home_img {
    width: 300px;
    margin-left: 10px;
  }
}
@media (max-width: 767.5px) {
  .home .home_descrblock .home_title {
    margin-top: 10px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
  }
  .home .home_descrblock .home_descr {
    font-size: 21px;
    line-height: 27px;
  }
  .home .home_descrblock .home_btn_block {
    display: flex;
    justify-content: center;
  }
  .home .home_descrblock .home_btn_block .home_btn {
    width: 315px;
    height: 50px;
    font-size: 20px;
  }
  .home .home_img {
    display: none;
  }
}
@media (max-width: 575.5px) {
  .home .home_descrblock .home_title {
    font-size: 28px;
    line-height: 36px;
    max-width: 470px;
    margin: 0 auto;
  }
  .home .home_descrblock .home_descr {
    font-size: 20px;
    line-height: 26px;
    max-height: 100px;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home_descrblock .home_btn_block .home_btn {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 50px;
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .home .home_descrblock .home_title {
    font-size: 25px;
    line-height: 35px;
  }
  .home .home_descrblock .home_descr {
    font-size: 18px;
    line-height: 24px;
  }
}
