
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home_descrblock .home_title {
    max-width: 688px;
    max-height: 122px;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    line-height: 61px;
}

.home .home_descrblock .home_descr {
    max-width: 608px;
    max-height: 90px;
    font-weight: normal;
    font-size: 25px;
    color: #000000;
    margin-top: 13px;
    line-height: 30px;
}

.home .home_descrblock .home_btn {
    margin-top: 19px;
    width: 400px;
    height: 70px;
    background: linear-gradient(93.52deg, #304885 16.25%, #2D745F 68.91%);
    box-shadow: 0 9px 35px rgba(47, 99, 110, 0.53);
    border-radius: 17px;
    font-size: 25px;
    color: #FFFFFF;
}
