.modal-body .container-fluid .row {
  margin-bottom: 20px;
}
.modal-body .container-fluid .row .combo {
  max-width: 200px;
}
.modal-body .container-fluid .row .combo .combo-input {
  width: 200px;
}

.modal_btn {
  width: 200px;
  height: 40px;
  background-color: #e9ecef;
  border: #ced4da solid 1px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 18px;
}
.modal_btn:hover {
  background-color: #dde0e3;
}
