.normatives_title {
  text-align: center;
}

.parameters_panel {
  float: left;
  display: flex;
  margin: 40px auto 20px auto;
}
.parameters_panel .form_parameters {
  display: flex;
}
.parameters_panel .form_parameters .group_combobox {
  margin-right: 10px;
}
.parameters_panel .form_parameters .group_combobox .combo {
  max-width: 200px;
}
.parameters_panel .form_parameters .group_combobox .combo .combo-input {
  width: 200px;
}
.parameters_panel .form_parameters .gender_combobox {
  margin-right: 10px;
}
.parameters_panel .form_parameters .gender_combobox .combo {
  max-width: 200px;
}
.parameters_panel .form_parameters .gender_combobox .combo .combo-input {
  width: 200px;
}
.parameters_panel .form_parameters .show_btn {
  display: block;
  width: 150px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.parameters_panel .form_parameters .show_btn:hover {
  background-image: linear-gradient(to top, #2f2f2f 0%, #373f4b 100%);
  color: #e5e5e5;
}

.edit_panel {
  float: right;
  display: flex;
  margin: 40px auto 20px auto;
}
.edit_panel .edit_btn, .edit_panel .cancel_btn, .edit_panel .save_btn {
  display: block;
  margin-right: 10px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  width: 250px;
  height: 38px;
  background-image: linear-gradient(to top, #111111 0%, #424852 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 17px;
}
.edit_panel .edit_btn:hover, .edit_panel .cancel_btn:hover, .edit_panel .save_btn:hover {
  background-image: linear-gradient(to top, #2f2f2f 0%, #373f4b 100%);
  color: #e5e5e5;
}
.edit_panel .edit_btn:last-child, .edit_panel .cancel_btn:last-child, .edit_panel .save_btn:last-child {
  margin-right: 0;
}
.edit_panel .cancel_btn {
  display: none;
}
.edit_panel .save_btn {
  display: none;
  background-image: linear-gradient(to top, #58a340 0%, #0cbb00 100%);
}
.edit_panel .save_btn:hover {
  background-image: linear-gradient(to top, #65ba48 0%, #0cd200 100%);
  color: #e5e5e5;
}

.table-responsive .table td .result_cell {
  padding: 0;
  border: 0;
  text-align: center;
}

.ofp h1 {
  text-align: center;
  margin-bottom: 40px;
}
.ofp .card-title {
  text-align: center;
}
.ofp .ofp_result {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  height: 35px;
  background: #E8E8E8;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 17px;
  text-align: center;
}
.ofp .result_btn {
  display: block;
  margin: 42px auto 0 auto;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  width: 280px;
  height: 63px;
  background-image: linear-gradient(to top, #111111 0%, #424852 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 17px;
}
.ofp .result_btn:hover {
  background-image: linear-gradient(to top, #2f2f2f 0%, #373f4b 100%);
  color: #e5e5e5;
}
