.normatives_title {
  text-align: center;
}

.parameters_panel {
  display: flex;
  margin: 40px auto 20px auto;
}
.parameters_panel .faculties_combobox {
  margin-right: 10px;
}
.parameters_panel .faculties_combobox .combo {
  max-width: 200px;
}
.parameters_panel .faculties_combobox .combo .combo-input {
  width: 200px;
}
.parameters_panel .group_combobox .combo {
  max-width: 200px;
}
.parameters_panel .group_combobox .combo .combo-input {
  width: 200px;
}
.parameters_panel .parameter_name {
  font-size: 20px;
  font-weight: 400;
  margin: 2px 30px 0 0;
}
.parameters_panel .form-select {
  width: 150px;
}

.statistic_table {
  margin: 27px auto 0 auto;
}
.statistic_table .title_field_head {
  font-size: 20px;
  line-height: 25px;
}
.statistic_table .title_field {
  font-size: 13px;
  line-height: 25px;
}
