.result_title {
  text-align: center;
  padding-bottom: 20px;
}

.table-responsive table tbody tr th {
  width: 45%;
  text-align: left;
  font-weight: 600;
}

.result_total {
  display: block;
  margin: 30px auto 0 auto;
}
.result_total h3 {
  text-align: center;
}
.result_total .total_counting {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 25px;
  height: 50px;
  margin: 20px auto 0 auto;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.access_btn {
  display: block;
  width: 400px;
  height: 70px;
  margin: 30px auto 0 auto;
  border: black solid 2px;
  box-shadow: 0 5px 10px rgba(47, 99, 110, 0.53);
  border-radius: 17px;
  font-size: 25px;
  background-color: #FFFFFF;
}
.access_btn:hover {
  background-color: rgba(183, 250, 183, 0.95);
  box-shadow: 0 5px 10px rgba(0, 92, 34, 0.53);
}

@media (max-width: 991px) {
  .result_total .total_counting {
    width: 80%;
    font-size: 18px;
  }
}
@media (max-width: 767.5px) {
  .result_total .total_counting {
    width: 90%;
    font-size: 16px;
  }
}
@media (max-width: 575.5px) {
  .result_total {
    margin-top: 0;
  }
  .result_total .total_counting {
    width: 99%;
    font-size: 14px;
  }

  .table-responsive table thead tr th {
    font-size: 14px;
  }
  .table-responsive table thead tr .test6 {
    font-size: 11px;
  }
  .table-responsive table tbody tr th {
    width: 40%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
  }
  .table-responsive table tbody tr td {
    font-size: 12px;
  }
  .table-responsive table tbody tr .test6 {
    font-size: 11px;
  }
}
@media (max-width: 425px) {
  .result_total .total_counting {
    font-size: 12px;
  }

  .table-responsive table thead tr th {
    font-size: 12px;
  }
  .table-responsive table thead tr .test6 {
    font-size: 10px;
  }
  .table-responsive table tbody tr th {
    font-size: 10px;
  }
  .table-responsive table tbody tr td {
    font-size: 10px;
  }
  .table-responsive table tbody tr .test6 {
    font-size: 10px;
  }
}
