* {
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  margin-bottom: 70px;
}
header nav {
  width: 100%;
  height: 70px;
  margin-top: 28px;
}
header nav .header_menu {
  display: flex;
  justify-content: space-between;
}
header nav .header_menu .hamburger_field {
  display: none;
}
header nav .header_menu .logo_link {
  display: contents;
  float: left;
}
header nav .header_menu .menu_field .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 50px;
}
header nav .header_menu .menu_field .menu .mobile_menulogin {
  display: none;
  align-items: center;
  margin: 30px 0;
}
header nav .header_menu .menu_field .menu .mobile_menulogin .mobile_menulogin_round {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
header nav .header_menu .menu_field .menu .mobile_menulogin .mobile_menulogin_link {
  color: black;
  text-decoration: none;
  padding-left: 16px;
  font-weight: 400;
  font-size: 19px;
}
header nav .header_menu .menu_field .menu .menu_item {
  line-height: 20px;
  padding-right: 50px;
  white-space: nowrap;
}
header nav .header_menu .menu_field .menu .menu_item:last-child {
  padding-right: 0;
}
header nav .header_menu .menu_field .menu .menu_item .menu_link {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}
header nav .header_menu .menu_field .menu .menu_item .menu_link:hover {
  text-decoration: underline;
}
header nav .header_menu .menulogin {
  height: 70px;
  display: flex;
  float: right;
  align-items: center;
}
header nav .header_menu .menulogin .menulogin_round {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
header nav .header_menu .menulogin .menulogin_link {
  color: black;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 1px;
  font-weight: 400;
  font-size: 19px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

footer {
  height: 168px;
  margin-top: 50px;
  padding: 69px 0 57px 0;
  background: #1A1A1A;
}
footer .footer_descr {
  margin: 0 auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #888888;
}
footer .footer_descr a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #888888;
  -webkit-text-decoration-color: #888888;
          text-decoration-color: #888888;
  cursor: pointer;
  padding-right: 5px;
  border-right: #888888 solid 1px;
}
footer .footer_descr a:nth-child(2) {
  padding-right: 0;
  border-right: none;
}

@media (max-width: 1199.5px) {
  header {
    margin-bottom: 40px;
  }
  header nav .header_menu .menu_field .menu {
    padding-left: 0;
    padding-right: 0;
  }
  header nav .header_menu .menu_field .menu .menu_item {
    padding-right: 30px;
  }
  header nav .header_menu .menu_field .menu .menu_item .menu_link {
    font-size: 16px;
  }
  header nav .header_menu .menu_field .menulogin .menulogin_link {
    font-size: 17px;
  }
}
@media (max-width: 991.5px) {
  header {
    margin-bottom: 30px;
  }
  header nav {
    height: 70px;
    margin-top: 15px;
  }
  header nav .header_menu .hamburger_field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    float: left;
    transition: 0.5s all;
  }
  header nav .header_menu .hamburger_field .hamburger {
    display: block;
    width: 50px;
    height: 15px;
    z-index: 101;
    transition: 0.5s all;
  }
  header nav .header_menu .hamburger_field .hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: black;
    margin-bottom: 4px;
    transition: 0.5s all;
  }
  header nav .header_menu .hamburger_field .hamburger span:last-child {
    margin-bottom: 0;
  }
  header nav .header_menu .hamburger_field .hamburger_active span {
    margin-bottom: -4px;
  }
  header nav .header_menu .hamburger_field .hamburger_active span:nth-child(1) {
    margin-top: 4px;
    transform: translateY(4px) rotate(-45deg);
  }
  header nav .header_menu .hamburger_field .hamburger_active span:nth-child(2) {
    display: none;
  }
  header nav .header_menu .hamburger_field .hamburger_active span:nth-child(3) {
    margin-bottom: 0;
    transform: translateY(4px) rotate(45deg);
  }
  header nav .header_menu .hamburger_field_active {
    right: 195px;
    background-color: rgba(250, 250, 250, 0.95);
    border: black 1px solid;
    border-radius: 100%;
    transition: 0.5s all;
  }
  header nav .header_menu .logo_link .menu_img {
    display: block;
    margin: 0;
    width: 200px;
  }
  header nav .header_menu .menu_field_active {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(116, 116, 116, 0.31);
  }
  header nav .header_menu .menu_field .menu {
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background-color: rgba(250, 250, 250, 0.95);
    border-left: black solid 1px;
    transition: 0.5s all;
  }
  header nav .header_menu .menu_field .menu_active {
    z-index: 101;
    right: 0;
  }
  header nav .header_menu .menu_field .menu .mobile_menulogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 20px;
    border-top: black dotted 1px;
    border-bottom: black dotted 1px;
  }
  header nav .header_menu .menu_field .menu .mobile_menulogin .mobile_menulogin_link {
    padding-left: 0;
    margin-top: 15px;
  }
  header nav .header_menu .menu_field .menu .menu_item {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 15px 0;
  }
  header nav .header_menu .menu_field .menu .menu_item .menu_link {
    display: block;
    padding: 10px 0;
    font-size: 20px;
  }
  header nav .header_menu .menulogin {
    display: none;
  }
}
@media (max-width: 767.5px) {
  header {
    margin-bottom: 30px;
  }
}
@media (max-width: 575.5px) {
  header nav .header_menu .hamburger_field {
    width: 30px;
    height: 45px;
  }
  header nav .header_menu .hamburger_field .hamburger span {
    height: 3px;
    margin-bottom: 3px;
  }
  header nav .header_menu .hamburger_field .hamburger_active span {
    margin-bottom: -3px;
  }
  header nav .header_menu .hamburger_field .hamburger_active span:nth-child(1) {
    margin-top: 3px;
    transform: translateY(3px) rotate(-45deg);
  }
  header nav .header_menu .hamburger_field .hamburger_active span:nth-child(2) {
    display: none;
  }
  header nav .header_menu .hamburger_field .hamburger_active span:nth-child(3) {
    margin-bottom: 0;
    transform: translateY(3px) rotate(45deg);
  }
}
@media (max-width: 425px) {
  footer .footer_descr a {
    display: block;
    padding-right: 0;
    border-right: none;
  }
}
