.form_link {
    text-decoration: none;
}

.tests_form {
    margin: 35px auto 0 auto;
    width: 970px;
    min-height: 175px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding-bottom: 25px;
}

.tests_form .form_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    margin-top: 14px;
}

.tests_form .form_divider {
    width: 968px;
    height: 1px;
    background-color: #b9b9b9;
    margin: 0 auto;
    margin-top: 9px;
}

.tests_form .testname_case {
    display: flex;
    margin-top: 34px;
    margin-left: 28px;
}

.tests_form .testname_case .form_testname_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 20px;
}

.tests_form .testname_case .form_testname {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.tests_form .testdescr_case {
    display: flex;
    margin-top: 14px;
    margin-left: 28px;
}

.tests_form .testdescr_case .form_testdescr_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #000000;
    margin-top: 7px;
    margin-right: 20px;
}

.tests_form .testdescr_case .form_testdescr_field {
    width: 698px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
    padding: 7px 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #000000;
}

/*.tests_form .testdescr_case .form_testdescr {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}*/
