.tests {
  height: 160px;
  margin-bottom: 20px;
}
.tests .tests_title {
  display: flex;
  justify-content: center;
  color: #000000;
}
.tests .tests_search {
  display: flex;
  padding-top: 38px;
  width: 1012px;
  margin: 0 auto;
}
.tests .tests_search .search_title {
  padding-right: 60px;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.tests .tests_search .search_field {
  width: 855px;
  height: 35px;
  background: #E8E8E8;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 17px;
}
.tests .tests_search input[type=text] {
  padding: 15px;
}
.tests .tests_vision {
  display: flex;
  align-items: center;
  height: 35px;
  padding-top: 22px;
}
.tests .tests_vision .vision_title {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-right: 20px;
}
.tests .tests_vision .vision_link {
  width: 35px;
  height: 35px;
  margin-right: 16px;
}
.tests .tests_vision .vision_columns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}
.tests .tests_vision .vision_link:hover .vision_columns {
  background: #cbcbcb;
}
.tests .tests_vision .vision_rows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: #717171;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}
