.user_profile .profile_title {
  display: flex;
  justify-content: center;
  color: #000000;
}
.user_profile .profile_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  width: 220px;
  background: #5A5A5A;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 120px;
}
.user_profile .profile_img img {
  width: 100%;
  border-radius: 100%;
}
.user_profile .profile_panel {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.user_profile .profile_panel .profile_name {
  height: 40px;
  padding: 5px 15px 5px 15px;
  line-height: 30px;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.user_profile .profile_panel .edit_profile_btn {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_profile .profile_panel .edit_profile_btn img {
  height: 21px;
  width: 21px;
}
.user_profile .parameters_panel {
  display: flex;
  margin-top: 40px;
}
.user_profile .parameters_panel .group_combobox {
  margin-right: 10px;
}
.user_profile .parameters_panel .group_combobox .combo {
  max-width: 200px;
}
.user_profile .parameters_panel .group_combobox .combo .combo-input {
  width: 200px;
}
.user_profile .parameters_panel .show_btn {
  display: block;
  width: 150px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.user_profile .parameters_panel .show_btn:hover {
  background-image: linear-gradient(to top, #2f2f2f 0%, #373f4b 100%);
  color: #e5e5e5;
}
.user_profile .admin_panel {
  display: block;
  margin: 40px auto 0 auto;
}
.user_profile .admin_panel h3 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.user_profile .admin_panel .upload_form {
  display: flex;
  margin: 30px auto 0 auto;
  width: 600px;
}
.user_profile .admin_panel .upload_form .form-control {
  margin-right: 10px;
  font-size: 18px;
}
.user_profile .admin_panel .upload_form .sumbit-upload {
  background-color: #e9ecef;
  border: #ced4da solid 1px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 18px;
  width: 200px;
}
.user_profile .admin_panel .upload_form .sumbit-upload:hover {
  background-color: rgba(21, 187, 0, 0.5);
}
.user_profile .admin_panel .table {
  margin-top: 25px;
}
.user_profile .admin_panel .table .modal_btn {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.user_profile .admin_panel .table .modal_btn:hover {
  background-color: rgba(27, 92, 255, 0.5);
}
.user_profile .admin_panel .unhide_btn, .user_profile .admin_panel .hide_btn {
  display: none;
  margin: auto;
  height: 40px;
  width: 150px;
  background-color: #e9ecef;
  border: #ced4da solid 1px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 18px;
}
.user_profile .admin_panel .unhide_btn:hover, .user_profile .admin_panel .hide_btn:hover {
  background-color: rgba(193, 193, 193, 0.5);
}
.user_profile .admin_panel .user_delbtn {
  margin: 25px 0 0 0;
  width: 300px;
  height: 40px;
  background-color: #e9ecef;
  border: #ced4da solid 1px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 18px;
}
.user_profile .admin_panel .user_delbtn:hover {
  background-color: rgba(255, 27, 27, 0.5);
}
.user_profile .table {
  margin-top: 40px;
}
.user_profile .table a {
  display: block;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .user_profile .profile_img {
    width: 190px;
  }
  .user_profile .profile_panel .profile_name {
    font-size: 23px;
  }
}
