.user_profile .profile_title {
  display: flex;
  justify-content: center;
  color: #000000;
}
.user_profile .profile_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  width: 220px;
  background: #5A5A5A;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 120px;
}
.user_profile .profile_img img {
  width: 100%;
  border-radius: 100%;
}
.user_profile .profile_panel {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.user_profile .profile_panel .profile_name {
  height: 40px;
  padding: 5px 15px 5px 15px;
  line-height: 30px;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.user_profile .profile_panel .edit_profile_btn {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_profile .profile_panel .edit_profile_btn img {
  height: 21px;
  width: 21px;
}

@media (max-width: 1200px) {
  .user_profile .profile_img {
    width: 190px;
  }
  .user_profile .profile_panel .profile_name {
    font-size: 23px;
  }
}
