@media (max-width: 991px)
    .tests
        margin-bottom: 0
        .tests_title
            h2
                margin-bottom: 0
        .tests_vision
            .vision_title
                padding-left: 8px
    .tests_form
        .lock_img
            width: 7%

@media (max-width: 767px)
    .tests
        .tests_title
            margin-top: 20px
            h2
                font-size: 23px
        .tests_vision
            .vision_title
                padding-left: 0
    .tests_form
        width: 90%
        .lock_img
            width: 10%

@media (max-width: 575.5px)
    .tests
        .tests_search
            .search_title
                padding-left: 8px
        .tests_vision
            .vision_title
                padding-left: 8px
    .tests_form
        .lock_img
            width: 11%

@media (max-width: 400.5px)
    .tests
        margin-bottom: 0
        .tests_title
            margin-top: 0
        .tests_search
            .search_title
                padding-left: 0
                font-size: 18px
                padding-right: 20px
        .tests_vision
            .vision_title
                padding-left: 0
                font-size: 18px
    .tests_form
        .form_title
            font-size: 18px
        .testname_case
            .form_testname
                font-size: 16px
        .testdescr_case
            .form_testdescr
                font-size: 16px
        .lock_img
            width: 12%
