@media (max-width: 1200px)
  header
    nav
      .menulogin
        margin-left: 25px
        .menulogin_link
          font-size: 16px
      .menu
        .menu_item
          padding-right: 30px
          .menu_link
            font-size: 16px

@media (max-width: 992px)
  header
    nav
      .menulogin
        margin-left: 0
      .menu
        padding-left: 0
        .menu_item
          padding-right: 18px
          .menu_link
            font-size: 15px

@media (max-width: 767px)
  header
    nav
      .logo_link
        .menu_img
          display: block
          margin: 0 auto
      .menu
        .menu_item
          padding-right: 25px

@media (max-width: 575px)
  header
    nav
      .logo_link
        .menu_img
          display: block
          margin: 0
      .menu
        .menu_item
          padding-right: 25px
