.normatives_title
  text-align: center

.parameters_panel
  display: flex
  margin: 40px auto 0 auto
  .parameter_name
    font-size: 20px
    font-weight: 400
    margin: 2px 30px 0 0
  .form-select
    width: 150px

.statistic_table
  .title_field
    font-size: 20px
    line-height: 25px
  .title_field_last
    font-size: 13px
    line-height: 25px