.statistics_title
  display: flex
  justify-content: center

.parameters_panel
  float: left
  display: flex
  justify-content: center
  margin: 40px auto 20px auto
  .parameters_form
    display: flex
    .group_combobox
      margin-right: 10px
      .combo
        max-width: 200px
        .combo-input
          width: 200px
    .gender_combobox
      margin-right: 10px
      .combo
        max-width: 200px
        .combo-input
          width: 200px
    .show_btn
      display: block
      width: 150px
      border: 1px solid #ced4da
      border-radius: 0.25rem
      &:hover
        background-image: linear-gradient(to top, #2f2f2f 0%, #373f4b 100%)
        color: #e5e5e5

.statistics_table_title
  display: flex
  justify-content: center
  text-align: center
  margin-top: 20px

.table
  margin-top: 20px