.result_title
    text-align: center

.result_total
    display: block
    margin: 30px auto 0 auto

    h3
        text-align: center

    .total_counting
        display: flex
        width: 1000px
        justify-content: center
        align-items: center
        font-weight: 400
        font-size: 25px
        height: 50px
        margin: 20px auto 0 auto
        background: #FFFFFF
        border: 1px solid #000000
        box-sizing: border-box
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 20px
.access_btn
    display: block
    width: 400px
    height: 70px
    margin: 30px auto 0 auto
    border: black solid 2px
    box-shadow: 0 5px 10px rgba(47, 99, 110, 0.53)
    border-radius: 17px
    font-size: 25px
    background-color: #FFFFFF
    &:hover
        background-color: rgba(183, 250, 183, 0.95)
        box-shadow: 0 5px 10px rgba(0, 92, 34, 0.53)
